<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <h1 class="title">Sign-Up</h1>
        <form action="#">
            <div class="info-box">
                <div class="user-box">
                    <input type="text" placeholder="firstname">
                </div>
                <div class="user-box">
                    <input type="text" placeholder="lastname">
                </div>
                <div class="user-box">
                    <input type="tel" placeholder="phone no.">
                </div>
                <div class="user-box">
                    <input type="email" placeholder="email">
                </div>
                <div class="user-box">
                    <input type="password" placeholder="password">
                </div>
                <div class="user-box">
                    <input type="password" placeholder="confirm_password">
                </div>
            </div>
            <div class="button">
                <input type="submit" value="Sign-Up" >
            </div>
        </form>
    </div>
</body>
</html>