@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');
body{
    background-image: url(../images/background.png);
    /* Specify the path to your image */
    background-size: cover;
    /* Adjust the background size to cover the entire container */
    background-position: center;
    /* Set the background position to the center */
    height: 100vh;
    /* Set the height to 100% of the viewport height */
    background-repeat: no-repeat;
    background-attachment: fixed;
}


/* Navbar.css */
.navbar {
    background-color: #1b1f29;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-family: Lexend;
    font-size: 14px;
}

.left {
    display: flex;
    align-items: center;
}

.logo {
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

.right ul {
    list-style: none;
    display: flex;
}

.right li {
    margin-right: 20px;
}

.right a {
    text-decoration: none;
    color: white;
}

/* .circular-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
   */

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    /* margin: 40px; */
    padding-top: 100px;
    font-size: 50px;
    font-weight: bold;
    font-family: Lexend;


}

.text2 {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    font-family: Lexend;
}

.button1 {
    display: flex;

    margin: auto;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    margin: auto;
    padding: 0%;
    margin-top: 80px;
}

.column {
    display: flex;
    flex-direction: column;
    margin: 10px;
    /* justify-content: space-between; */
    /* margin-right: ; */
}

.links {
    /* gap: 10px; */
    margin: 15px;
    /* color: #FFF;

    text-align: center;
    font-family: Lexend;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px; */
    /* 200% */
    font-size: x-large;
    color: white;
    font-weight: 400;
    /* font-style: italic; */
    font-family: Lexend;
    text-decoration: none;
}

.create_resume{
    border-radius: 50px;
    padding: 7px 12px;
    width: 180px;
    font-size: 15px;
    color: var(--secondary-900, #E1D1FD);
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    border: 2px solid #270066;
    
    background: linear-gradient(95deg, rgba(75, 1, 196, 0.60) 0%, rgba(75, 1, 196, 0.00) 100%), #1D014B;
    cursor: pointer;
    font-family: Lexend;


}
.button{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    
}

.icons{
    width: 90px;
    height: 90px;
}

.templates{
    display: flex;
    justify-content: baseline;
    margin-bottom: 20px;

}
.hamburger{
    display: none;
}

/* Extra small devices (phones, 600px and down) */
@media (max-width: 600px) {
    .navbar .right{
        display: none;
    }
    .hamburger{
        display: block;
    }
    .text{
        font-size: 30px;
    }
    .text2{
        font-size: 13px;
    }
    .icons{
        width: 60px;
        height: 60px;
    }
    .links{
        font-size:medium;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 600px) {
    .navbar{
        font-size: 12px;
    }
    .text{
        font-size: 35px;
    }
    .text2{
        font-size: 13px;
    }
    .icons{
        width: 60px;
        height: 60px;
    }
    .links{
        font-size:large;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) {
    .navbar{
        font-size: 12px;
    }
    .text{
        font-size: 40px;
    }
    .text2{
        font-size: 13px;
    }
    .icons{
        width: 70px;
        height: 70px;
    }
    .links{
        font-size:large;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) {
    .navbar{
        font-size: 12px;
    }
    .text{
        font-size: 45px;
    }
    .text2{
        font-size: 15px;
    }
    .icons{
        width: 70px;
        height: 70px;
    }
    .links{
        font-size:large;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 1200px) {
    .navbar{
        font-size: 14px;
    }
    .text{
        font-size: 50px;
    }
    .text2{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 17px;
    }
    .icons{
        width: 90px;
        height: 90px;
    }
    .links{
        font-size: x-large;
    }
}