<!DOCTYPE html>
<html lang="english">
  <head>
    <title>exported project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }
    </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lemon:wght@400&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
    />
  </head>
  <body>
    <link rel="stylesheet" href="./style.css" />
    <div>
      <link href="./index.css" rel="stylesheet" />

      <div class="testimonialssection-container">
        <div class="testimonialssection-testimonialssection">
          <div class="testimonialssection-bg">
            <div class="testimonialssection-frame1">
              <div class="testimonialssection-frame11"></div>
            </div>
            <div class="testimonialssection-frame12"></div>
            <img
              src="public/external/rectangle682475-eads-700w.png"
              alt="Rectangle682475"
              class="testimonialssection-rectangle68"
            />
            <img
              src="public/external/rectangle692475-gin9-700w.png"
              alt="Rectangle692475"
              class="testimonialssection-rectangle69"
            />
            <div class="testimonialssection-frame1171276288">
              <div class="testimonialssection-frame20">
                <div class="testimonialssection-frame19">
                  <span class="testimonialssection-text">
                    <span>ASTONISHING!</span>
                  </span>
                  <div class="testimonialssection-frame1171276301"></div>
                  <span class="testimonialssection-text02">
                    <span>
                      A tempor lacus turpis non mi a. Congue sed suspendisse
                      etiam mauris, iaculis. Eget orci, posuere adipiscing at
                      consectetur. Sed nulla lectus pellentesque in maecenas. In
                      velit dignissim gravida morbi integer pulvinar blandit.
                    </span>
                  </span>
                </div>
                <div class="testimonialssection-frame18">
                  <div class="testimonialssection-frame17">
                    <span class="testimonialssection-text04">
                      <span>Jimmy Jhonson</span>
                    </span>
                    <span class="testimonialssection-text06">
                      <span>CEO of DriveMo</span>
                    </span>
                  </div>
                  <img
                    src="public/external/ellipse22949-m3i9-200h.png"
                    alt="Ellipse22949"
                    class="testimonialssection-ellipse2"
                  />
                </div>
              </div>
              <div class="testimonialssection-frame21">
                <div class="testimonialssection-frame191">
                  <span class="testimonialssection-text08">
                    <span>WONDERFULL!</span>
                  </span>
                  <span class="testimonialssection-text10">
                    <span>
                      A tempor lacus turpis non mi a. Congue sed suspendisse
                      etiam mauris, iaculis. Eget orci, posuere adipiscing at
                      consectetur. Sed nulla lectus pellentesque in maecenas. In
                      velit dignissim gravida morbi integer pulvinar blandit.
                    </span>
                  </span>
                </div>
                <div class="testimonialssection-frame181">
                  <div class="testimonialssection-frame171">
                    <span class="testimonialssection-text12">
                      <span>Jimmy Jhonson</span>
                    </span>
                    <span class="testimonialssection-text14">
                      <span>CEO of DriveMo</span>
                    </span>
                  </div>
                  <img
                    src="public/external/ellipse22949-a4ze-200h.png"
                    alt="Ellipse22949"
                    class="testimonialssection-ellipse21"
                  />
                </div>
              </div>
            </div>
          </div>
          <img
            src="public/external/ellipse2452475-5v71k-200h.png"
            alt="Ellipse2452475"
            class="testimonialssection-ellipse245"
          />
          <img
            src="public/external/ellipse2462475-vywk-200h.png"
            alt="Ellipse2462475"
            class="testimonialssection-ellipse246"
          />
          <img
            src="public/external/ellipse2472475-o9iu-200h.png"
            alt="Ellipse2472475"
            class="testimonialssection-ellipse247"
          />
          <img
            src="public/external/ellipse2482475-vbdk-200h.png"
            alt="Ellipse2482475"
            class="testimonialssection-ellipse248"
          />
          <div class="testimonialssection-frame463">
            <span class="testimonialssection-text16">
              <span>Testimonials</span>
            </span>
            <span class="testimonialssection-text18">
              <span>What People Think of Us</span>
            </span>
          </div>
          <div class="testimonialssection-frame1171276283">
            <div class="testimonialssection-frame13380">
              <span class="testimonialssection-text20"><span>LOGO</span></span>
              <div class="testimonialssection-frame13379">
                <div class="testimonialssection-frame13376">
                  <span class="testimonialssection-text22">
                    <span>Build Your Resume</span>
                  </span>
                </div>
                <div class="testimonialssection-frame13377">
                  <span class="testimonialssection-text24">
                    <span>Tutorial</span>
                  </span>
                </div>
                <div class="testimonialssection-frame13378">
                  <span class="testimonialssection-text26">
                    <span>Contact Us</span>
                  </span>
                </div>
                <span class="testimonialssection-text28">
                  <span>My Account</span>
                </span>
                <div class="testimonialssection-frame1171276284">
                  <button class="testimonialssection-button">
                    <span class="testimonialssection-text30">
                      <span>Login In</span>
                    </span>
                  </button>
                  <div class="testimonialssection-tag">
                    <span class="testimonialssection-text32">
                      <span>Sign In</span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
