.footer-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.footer-footer {
  gap: 40px;
  width: 100%;
  height: 470px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  background-color: rgba(1, 6, 25, 1);
}
.footer-frame508 {
  gap: 184px;
  top: 100px;
  left: 162px;
  width: 1597px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
}
.footer-frame507 {
  gap: 44px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-text {
  color: rgba(255, 255, 255, 1);
  width: 201px;
  height: auto;
  font-size: 49px;
  font-style: Regular;
  text-align: left;
  font-family: Lemon;
  font-weight: 400;
  line-height: 48px;
  font-stretch: normal;
  text-decoration: none;
}
.footer-text02 {
  color: rgba(255, 255, 255, 1);
  width: 473px;
  height: auto;
  font-size: 13px;
  font-style: Regular;
  text-align: left;
  font-family: Lexend;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.footer-frame493 {
  gap: 64px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.footer-frame486 {
  gap: 20px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.footer-frame479 {
  gap: 8px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.footer-text04 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: Lexend;
  font-weight: 600;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.footer-line21 {
  width: 251px;
  height: 1px;
}
.footer-frame506 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.footer-frame494 {
  gap: 8px;
  display: flex;
  align-items: flex-start;
}
.footer-phoneline {
  width: 28px;
  height: 28px;
}
.footer-text06 {
  color: rgba(255, 255, 255, 1);
  width: 167px;
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Lexend;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.footer-frame495 {
  gap: 8px;
  display: flex;
  align-items: flex-start;
}
.footer-mailline {
  width: 28px;
  height: 28px;
}
.footer-text11 {
  color: rgba(255, 255, 255, 1);
  width: 176px;
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Lexend;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.footer-frame496 {
  gap: 8px;
  display: flex;
  align-items: flex-start;
}
.footer-mappinline {
  width: 28px;
  height: 28px;
}
.footer-text16 {
  color: rgba(255, 255, 255, 1);
  width: 215px;
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Lexend;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.footer-frame490 {
  gap: 20px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.footer-frame481 {
  gap: 8px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.footer-text21 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: Lexend;
  font-weight: 600;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.footer-line211 {
  width: 165px;
  height: 1px;
}
.footer-frame489 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-text23 {
  color: rgba(255, 255, 255, 1);
  width: 147px;
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Lexend;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.footer-text25 {
  color: rgba(255, 255, 255, 1);
  width: 97px;
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Lexend;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.footer-text27 {
  color: rgba(255, 255, 255, 1);
  width: 97px;
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Lexend;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.footer-text29 {
  color: rgba(255, 255, 255, 1);
  width: 97px;
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Lexend;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.footer-frame491 {
  gap: 20px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.footer-frame4811 {
  gap: 8px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.footer-text31 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: Lexend;
  font-weight: 600;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.footer-line212 {
  width: 165px;
  height: 1px;
}
.footer-frame4891 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-text33 {
  color: rgba(255, 255, 255, 1);
  width: 147px;
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Lexend;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.footer-text35 {
  color: rgba(255, 255, 255, 1);
  width: 97px;
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Lexend;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.footer-text37 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Lexend;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.footer-text39 {
  color: rgba(255, 255, 255, 1);
  width: 97px;
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Lexend;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.footer-frame492 {
  gap: 20px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.footer-frame4812 {
  gap: 8px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.footer-text41 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: Lexend;
  font-weight: 600;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.footer-line213 {
  width: 165px;
  height: 1px;
}
.footer-frame4892 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-text43 {
  color: rgba(255, 255, 255, 1);
  width: 147px;
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Lexend;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.footer-text45 {
  color: rgba(255, 255, 255, 1);
  width: 97px;
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Lexend;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.footer-text47 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Lexend;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.footer-text49 {
  color: rgba(255, 255, 255, 1);
  width: 97px;
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Lexend;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
